* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* inclui bordas e padding na largura total dos elementos */
}

body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh; /* garante que o body ocupe toda a altura da tela   */
}

body {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 80px  1fr 80px;

    grid-template-areas: 
        "header header"
        "sidebar main"
        "footer footer";
}

header{
    grid-area: header;
    background-color: burlywood;

    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

nav{
    display:flex;
    gap: 250px;

}

.icon-click{
    display:flex;
    position: fixed;
    flex-direction: row;
    width: 40px;

}


sidebar{
    grid-area: sidebar;
    display: grid;
    grid-template-columns:  1fr 100px 100px;
    background-color: burlywood;

    display: flex;
    position: fixed;
    top: 400px;
    left:100px;
    align-items: center;
    justify-content: space-around;
    gap: 100px;
}

.active{
    display: flex;
    gap: 100px;
    
}


li{
    list-style: none;
}


main{
    grid-area: main;
    display: grid;
    grid-template-rows: min-content 100px minmax(600px 1fr);
    margin-top: 90px;
    margin-bottom: 90px;
    margin-left: 90px;
    margin-right: 90px;
    background-color: burlywood;

    display: flex;
    align-items: center;
    justify-content: center;
}

.info-icon{
    width: 200px;
}

footer{
    grid-area: footer;
    display: grid;
    grid-template-columns: auto;
    background-color: burlywood;

    display: flex;
    align-items: center;
    justify-content: center;

}




@media (max-width: 768px) {

    body {
        grid-template-columns: 1fr;
        grid-template-rows: 80px auto 1fr 60px;

        grid-template-areas:
            "header"
            "sidebar"
            "main"
            "footer";
    }

    nav {
        text-align: center;
    }
}