* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f2f5;
    color: #333;
    min-height: 100vh;
}

body {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 80px  1fr 80px;

    grid-template-areas: 
        "header header"
        "sidebar main"
        "footer footer";
}

header {
    grid-area: header;
     display: grid;
     align-items: center;
     right: auto;
     justify-content: space-around;
     z-index: 10;
}

nav {
    display: flex;
    align-items: center;
    gap: 50px;
    z-index: 11;
}

.icon{
    display: flex;
    width: 70px;
}

 sidebar {
    grid-area: sidebar;
    display: grid;
    align-items: center;
    justify-content: center;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
   
}

ul{
    list-style: none;
}

.active{
    gap: 50px;
}

li {
    background-color: #333;
    gap: 50px;
}